* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.app-container {
  display: flex;
  background-color: #ffc2a0;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.todos-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  width: 600px;
}
.todos-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 500px;
  width: 90%;
  padding-left: 0px;
}
